.card {
    border: solid red;
    padding: 1em;
    margin: 1em;
    display: grid;
    grid-template-rows: max-content 20px 1fr;
    /*grid-template-columns: repeat(); /* 3 colonnes avec largeur égale */
    grid-gap: 10px; /* Espacement entre les cartes */
    grid-row: 2 / span 2;
    font-family: cursive;
    font-size: 90%;
    border-radius: 5%;
    

}

table {
    border: dashed blue;
    border-radius: 5%;
    width: 20em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}


button {
    margin: 1em;
    /* border-radius: 5%; */
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    cursor: pointer;
}

